.bb {
    width: 100px !important;
    min-width: unset !important;
}

.cc {
    display: table;
    height: 100%;
    position: absolute;
    /* overflow: hidden; */
    width: 100%;
}
.helper {
    /* position: absolute;
    top: 50%; */
    display: table-cell;
    vertical-align: middle;
}