<ion-header>
  <ion-toolbar>
    <ion-title>printer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let item of bluetoothList" (click)="selectPrinter(item.id, item.name)">
        {{item.name}} {{item.id}}
      </ion-item>
    </ion-list>
    <div>
      Selected Printer: {{selectedPrinter}}
    </div>
    <ion-button expand="full" color="danger" *ngIf='selectedPrinter' (click)="printStuff()">
      PRINT TEST
    </ion-button>
    <ion-button>
      PRINT
    </ion-button>
  </ion-card>
</ion-content>