<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Assessment Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Payment Information
        </ion-card-title>
        <ion-card-subtitle>
          {{ass?.cus_name}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>
            Assessment ID
          </ion-label>
          <p>{{ass?.idAssessment}}</p>
        </ion-item>
        <ion-item>
          <ion-label>
            Assessment No
          </ion-label>
          <p>{{ass?.assessment_no}}</p>
        </ion-item>

        <ion-item>
          <ion-label>
            Mobile No :
          </ion-label>
          <ion-input class="ion-text-right" type="number" [(ngModel)]="mobile">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label>
            Email :
          </ion-label>
          <ion-input class="ion-text-right" type="email" [(ngModel)]="email">
          </ion-input>
        </ion-item>


        <ion-item>
          <ion-label>
            Payment Value Rs.
          </ion-label>
          <ion-input class="ion-text-right" type="number" [(ngModel)]="amount" (ngModelChange)="payTypeChange()">
          </ion-input>
        </ion-item>

        <ion-radio-group [(ngModel)]="payType" (ngModelChange)="payTypeChange()">
          <ion-list-header>
            <ion-label>Payment Type</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Cash</ion-label>
            <ion-radio slot="start" value="cash"></ion-radio>
          </ion-item>

          <!-- <ion-item>
            <ion-label>Cheque</ion-label>
            <ion-radio slot="start" value="cheque"></ion-radio>
          </ion-item> -->
        </ion-radio-group>

        <div *ngIf="payType=='cheque'">
          <ion-item>
            <ion-label>
              Cheque No :
            </ion-label>
            <ion-input [(ngModel)]='chequeNO' (ngModelChange)="payTypeChange()"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>
              Cheque Bank :
            </ion-label>
            <ion-select [(ngModel)]='selectedBank' (ngModelChange)="payTypeChange()">
              <ion-select-option *ngFor="let bank of banks" [value]="bank.idBank">{{bank.bank_name}}</ion-select-option>
            </ion-select>
          </ion-item>


        </div>

        <br>
        <ion-button *ngIf="payButtonAnnable" expand="full" color="danger" (click)="payNow()">
          <ion-icon name="cash-outline"></ion-icon> &nbsp;&nbsp;&nbsp; Pay And Print Recipt
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>



</ion-content>